---
import MainLayout from '../layouts/MainLayout.astro'; 
---

<MainLayout>
    <section class="section section--avatar">
        <h2 class="section__title"> Avatar </h2>
        <div class="section__components">
            <iw-avatar label="PM"></iw-avatar>
        </div>
    </section>        
</MainLayout>

