---
import MainLayout from '../layouts/MainLayout.astro'; 
---

<MainLayout>
    <section class="section section--buttons">
        <h2 class="section__title"> Buttons </h2>
        <div class="section__components">
            <iw-button>Simple button</iw-button>
            <iw-button type="main">Main button</iw-button>
            <iw-button type="kill">Kill button</iw-button>
            <iw-button>
                <i class="material-symbols-outlined icon">settings</i>
                Icon button
            </iw-button>
            <iw-button>
                <i class="material-symbols-outlined"> search </i>
            </iw-button>
        </div>
    </section>
</MainLayout>

