---
import MainLayout from '../layouts/MainLayout.astro'; 
---

<MainLayout>
    <section class="section section--contextMenu">
        <h2 class="section__title"> Context Menu </h2>
        <div class="section__components">
            <iw-context-menu></iw-context-menu>
        </div>
    </section>
</MainLayout>
