---
import MainLayout from '../layouts/MainLayout.astro'; 
---

<MainLayout>
  <section class="section section--date">
    <h2 class="section__title"> Date </h2>
    <div class="section__components">
      <iw-date label="Created:"></iw-date>
      <span>or</span>
      <iw-date></iw-date>
    </div>
  </section>
</MainLayout>
