---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
    <section class="section section--listItems">
        <h2 class="section__title"> List items </h2>
        <div class="section__components">
          <iw-list-item>
            <h2>Lorem ipsum dolor sit amet consectetur ist</h2>
            <iw-date date="04/07/2024" label="Created:"></iw-date> 
            <iw-avatar label="PM"></iw-avatar>      
            <iw-context-menu></iw-context-menu>
          </iw-list-item>
        </div>
    </section>
</MainLayout>