:root {

    /* Neutral scale */
    --white:       hsl(0, 0%, 100%);
    --neutral-50:  hsl(0, 0%, 99%);
    --neutral-75:  hsl(0, 0%, 95%);
    --neutral-100: hsl(0, 0%, 88%);
    --neutral-200: hsl(0, 0%, 78%);
    --neutral-300: hsl(0, 0%, 66%);
    --neutral-400: hsl(0, 0%, 55%);
    --neutral-500: hsl(0, 0%, 44%);
    --neutral-600: hsl(0, 0%, 32%);
    --neutral-700: hsl(0, 0%, 21%);
    --neutral-800: hsl(0, 0%, 14%);
    --neutral-900: hsl(0, 0%, 7%);
    --black:       hsl(0, 0%, 0%);

    /* Accent color */
    --accent-50:  hsl(206, 100%, 95%);
    --accent-100: hsl(207, 89%, 86%);
    --accent-220: hsl(207, 90%, 77%);
    --accent-300: hsl(207, 89%, 68%);
    --accent-400: hsl(207, 90%, 61%);
    --accent-500: hsl(207, 90%, 54%);
    --accent-600: hsl(208, 79%, 51%);
    --accent-700: hsl(210, 79%, 46%);
    --accent-800: hsl(212, 80%, 42%);
    --accent-900: hsl(216, 85%, 34%);

    /* Green Scale */
    --green-50:  hsl(88, 52%, 94%);
    --green-100: hsl(88, 51%, 86%);
    --green-200: hsl(88, 50%, 76%);
    --green-300: hsl(88, 50%, 67%);
    --green-400: hsl(88, 50%, 60%);
    --green-500: hsl(88, 50%, 53%);
    --green-600: hsl(89, 46%, 48%);
    --green-700: hsl(92, 48%, 42%);
    --green-800: hsl(95, 49%, 36%);
    --green-900: hsl(103, 56%, 26%);

    /* Yellow Scale */
    --yellow-50:  hsl(55, 100%, 95%);
    --yellow-100: hsl(54, 100%, 88%);
    --yellow-200: hsl(54, 100%, 81%);
    --yellow-300: hsl(54, 100%, 73%);
    --yellow-400: hsl(54, 100%, 67%);
    --yellow-500: hsl(54, 100%, 62%);
    --yellow-600: hsl(49, 98%, 60%);
    --yellow-700: hsl(43, 96%, 58%);
    --yellow-800: hsl(37, 95%, 56%);
    --yellow-900: hsl(28, 92%, 53%);

    /* Amber Scale */
    --amber-50:  hsl(46, 100%, 94%);
    --amber-100: hsl(45, 100%, 85%);
    --amber-200: hsl(45, 100%, 75%);
    --amber-300: hsl(46, 100%, 65%);
    --amber-400: hsl(45, 100%, 58%);
    --amber-500: hsl(45, 100%, 51%);
    --amber-600: hsl(42, 100%, 50%);
    --amber-700: hsl(38, 100%, 50%);
    --amber-800: hsl(34, 100%, 50%);
    --amber-900: hsl(26, 100%, 50%);

    /* Red Scale */
    --red-50:  hsl(0, 81%, 96%);
    --red-100: hsl(2, 85%, 87%);
    --red-200: hsl(1, 83%, 81%);
    --red-300: hsl(2, 84%, 73%);
    --red-400: hsl(2, 83%, 67%);
    --red-500: hsl(4, 90%, 58%);
    --red-600: hsl(2, 68%, 54%);
    --red-700: hsl(1, 58%, 42%);
    --red-800: hsl(1, 58%, 33%);
    --red-900: hsl(2, 59%, 25%);

    /* Semantic colors */
    --danger:  var(--red-500);
    --alert:   var(--amber-500);
    --warning: var(--yellow-500);
    --success: var(--green-500);

    /* Radius */
    --radius-s:  2px;
    --radius-m:  4px;
    --radius-l:  8px;
    --radius-xl: 12px;

    --default-transition: all .2s ease-in;


    color-scheme: light dark;

    --bg: light-dark(var(--white), var(--neutral-800));
    --font: light-dark(var(--neutral-900), var(--white));
    --overlay: light-dark(var(--neutral-100), var(--neutral-700));
    --primary-accent: light-dark(var(--accent-500), var(--yellow-700));
    --primary-accent-contrast: light-dark(var(--white), var(--neutral-800));

    --btn-radius: var(--radius-m); 
}

html[data-theme="light"],
html[data-theme="neutral"] {
    color-scheme: light;
}

html[data-theme="neutral"] {
    --bg: var(--neutral-100);
    --overlay: var(--white);
}

html[data-theme="dark"] {
    color-scheme: dark;
}