@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    color: var(--grey-800);
    font-family: "Poppins", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.app {
    padding: 3rem;
}

.appTitle {
    font-size: 2.4rem;
    margin-block-end: 4.5rem;
}

.section {
    margin-block-end: 4.5rem;
}

.section__title {
    border-block-end: 1px solid var(--grey-200);
    font-size: 1.8rem;
    margin-block-end: 1.5rem;
    padding-block-end: .375rem
}

.section__components {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}